div.sponsoring {
	font-size: 75%;
	border-top: 1px solid #f0f0f0;
	text-align: center;
}

div.sponsoring-sub {
	width: 320px;
	display: inline;
	text-align: center;
	margin: 0 50px;
}

div.sponsoring-dfg {
	width: 320px;
	display: inline;
	text-align: center;
	margin: 0 50px;
	white-space: nowrap;
}

div.sponsoring-dfg-text {
	display: inline;
	position: relative;
	bottom: 15px;
	margin-right: 10px;
}
