<footer>
    <ul class="meta-navigation">
        <f:cObject typoscriptObjectPath="lib.metaNavigation"/>
    </ul>
    <div class="sponsoring">
	<div class="sponsoring-sub">
            <f:link.external uri="https://www.sub.uni-goettingen.de/"><f:image src="{f:uri.resource(path:'Images/sub-logo.png')}"
                         title="{f:translate(key: 'sub-link-title')}" width="280" /></f:link.external>
        </div>
	<div class="sponsoring-dfg">
            <div class="sponsoring-dfg-text"><f:translate key="dfg-sponsoring-text" /></div> <f:link.external uri="http://www.dfg.de/"><f:image src="{f:uri.resource(path:'Images/dfg_logo_schriftzug_blau.png')}"
                         title="{f:translate(key: 'dfg-link-title')}" width="280" /></f:link.external>
        </div>
    </div>
</footer>
